.scaleX {
  transform: scaleX(0.25);
}

.scaleY {
  transform: scaleY(1.5);
}

.scaleXY {
  transform: scale(0.25, 1.5);
}

.scale {
  transform: scale(0.5);
}

body {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

p {
  margin: 24px 0px 16px;
}

img {
  width: 60px;
}