.skewX {
  transform: skewX(45deg);
}

.skewY {
  transform: skewY(-0.5rad);
}

.skewXY {
  transform: skew(45deg, -0.5rad);
}

.skew {
  /* single value behaves the same as skewX */
  transform: skew(45deg);
}

body {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}

div {
  background: #cc9543;
  width: 50px;
  height: 50px;
}

div,
* + p {
  margin-top: 1.5rem;
}
