.rotateX {
  transform: rotateX(60deg);
}

.rotateY {
  transform: rotateY(60deg);
}

.rotateZ {
  transform: rotateZ(60deg);
}

body {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

p {
  margin-bottom: 16px;
}

img {
  width: 60px;
}

div,
* + p {
  margin-top: 1.5rem;
}
