.translate30 {
  transform: perspective(100px) translateZ(30px);
}

.translate-100 {
  transform: perspective(100px) translateZ(-100px);
}

.translate-200 {
  transform: perspective(100px) translateZ(-200px);
}

body {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

p {
  margin-bottom: 16px;
}

img {
  width: 60px;
}

div,
* + p {
  margin-top: 1.5rem;
}
