body {
    font-family: Roboto, serif;
}

.header {
    display : flex;
    justify-content: space-around;
    align-items: center;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header a, .blurb p {
    font-size: 18px;
    color: #E5E7EB;
}

.header,.blurb,.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}
.blurb h1 {
    font-size: 48px;
    font-weight: 900;
}
.blurb {
    display: flex;
    justify-content: space-around;
}
.blurb-right {
    background-color: #E5E7EB;
    min-width: 150px;
    min-height: 100px;
    margin : 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blurb-right p {
    color: black;
    padding : 16px;
}
.blurb-left {
    margin-left: 40px;
    margin-bottom: 16px;
    max-width: 300px;
}

h2 {
    display: flex;
    justify-content: center;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    max-width: 120px;
}

.illustration {
    width: 75px;
    height: 75px;
    border: 2px solid #3882F6;
    border-radius: 8px;
}

.testimonial {
    display: flex;
    justify-content: center;
}

.testimonial-quote {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    padding: 16px;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 5px;
    padding : 5px 20px;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    color: #E5E7EB;
}

.info h2 {
    font-size: 36 px;
    font-weight: 900;
    color : #1F2937;
}

ul {
    display : flex;
    gap : 12px;
    list-style-type: none;  
}

a { 
    text-decoration: none;
}

.testimonial {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color:#1F2937;
}

.attribution {
    background-color: #E5E7EB;
    display: flex;
    justify-content: flex-end;
    font-size : 16px;
    font-weight: bold;
    padding : 16px;
}

.call-to-action-wrapper {
    display: flex;
    justify-content: center;
}

.call-to-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 50px;
    padding : 0 16px;
    max-width: 600px;
}

.call-to-action-text {
    max-width: 500px;
}

.footer {
    display: flex;
    justify-content: center;
}