.flex-container {
    display: flex;
    /* By default, flex-direction is row */
    flex-direction: column;
}

.flex-container div {
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    flex: 1 1 auto;
}